{% extends 'base.html.twig' %}

{% block title %}Créer une facture{% endblock %}

{% block body %}
    <h1>Création gratuite de vos factures</h1>

{{ include('facture/_form.html.twig') }}

    <a href="{{ path('facture_index') }}">Retour à la liste des factures</a>
{% endblock %}
